#wrapper {
    width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(37, 1fr);
    background-color: #999;
    grid-gap: 5px;
    padding: 5px;
    margin: 5px;
}

.btn-single,
.btn-double,
.btn-spacebar,
.btn-right-shift {
    border: 2px solid black;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #eee;
    background-color: #555;
}

.btn-single {
    grid-column: span 2;
}

.btn-double {
    grid-column: span 4;
}

.btn-enter {
    grid-row: span 2;
}

.btn-right-shift {
    grid-column: span 6;
}

.btn-spacebar {
    grid-column: span 16;
}